<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Index des events", events_path %></li>
        <li><%= link_to "Creer un event", new_event_path %></li>
        <li><%= link_to "Index des users", users_index_path %></li>
        <li><%= link_to "RETOUR HOMEPAGE", home_index_path %></li>
      </ul>
    </nav>
  </div>
</header>